<div class="card mx-auto" style="width: 20rem;"> 
    <img [src]=userObj.userImgLink class="card-img-top" style="height: 60%;" alt="..."> 
    <div class="card-body p-1"> 
        <p class="card-title">Username : {{userObj.username}}</p> 
        <p class="card-title">Email : {{userObj.email}}</p> 
        <p class="card-title">Address : {{userObj.address}}</p> 
        <p class="card-title">City : {{userObj.city}}</p> 
        <p class="card-title">State : {{userObj.state}}</p> 
        <p class="card-title">Pincode : {{userObj.pincode}}</p> 
        <button class="btn btn-primary me-auto" >edit</button> 
    </div> 
</div>